<template>
  <div>

    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <Header4 />

    <Step1 />

    <Footer />

    <div class="cd-overlay-nav">
      <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
      <span></span>
    </div>
    <!-- /cd-overlay-content -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Header4 from '@/components/header4';
  import Footer from '@/components/footer';
  import Step1 from '@/components/step1';
  export default {
    layout: 'layout1',
    components:{
      Header4,
      Footer,
      Step1
    },
    head () {
      return {
        title: `Soorvay `,
        // titleTemplate: 'Edutore by Gramedia | '+this.metaTitle,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: `description', content: 'Selamat datang di order repair on , silahkan lakukan order sesuai kolom yang ada di bawah ini | with hid` },
          { property: 'og:title', content: `Order ` },
          { property: 'og:description', content: `Selamat datang di order repair on , silahkan lakukan order sesuai kolom yang ada di bawah ini | with og desc` },
          { property: 'og:url', content: `https://rajarepair.id/order?m=` },
          { property: 'og:site_name', content: 'Raja Repair' },
          { property: 'og:image', content: 'https://dummyimage.com/150' },
        ],
      }
    },
    async fetch({ store, params }){
      // console.log(params)
      await store.dispatch('questionnaire/GET_LIST_QUESTIONNAIRE', params.trx_uid)
    },
    async validate({ app, store, params, query, redirect, error }){
      try {
        const response = await app.$axios.$get(`web/questionnaire/check-user/trx-uid=${params.trx_uid}/responden-uid=${query.u}`)
        // commit('SET_FACILITIES', response.data)
        console.log(response.data[0].is_responden_assessment)
        if (response.data[0].is_responden_assessment === 1){
          error({ statusCode: 301, message: 'User already submit the assessment' })
        }
      } catch(error) {
        throw error
      }
      // console.log(query)
      if (Object.keys(query).length === 0){
        // redirect(`/questionnaire/${params.module_id}?m=3&u=76&page=1`)
        // redirect(`/questionnaire/${params.module_id}`)
      }else{
        if (query.page !== 1){
          // redirect(`/questionnaire/${params.module_id}?m=3&u=76&page=1`)
          // redirect(`/questionnaire/${params.module_id}`)
        }
      }
      // console.log(Object.keys(query).length === 0)
      // console.log($router)
      // console.log(params)
      return true
    },
    async asyncData ({ app, error, params, query }) {
      // console.log(params.trx_uid)
      // console.log(query.u)
      // context.error({ statusCode: 404, message: 'Get not found' })
      // return await app.$axios.get(`web/questionnaire/check-user/trx-uid=${params.trx_uid}/responden-uid=${query.u}`)
      //   .then((res) => {
      //     // throw({ statusCode: 404, message: 'Post not found' })
      //     if (res.data.data[0].is_responden_assessment === 1){
      //       error({ statusCode: 301, message: 'User already complete assesment' })
      //     }
      //     // console.log(res.data.data[0].is_responden_assessment)
      //     // return {
      //     //   listItemTable: res.data,
      //     // }
      //   })
      //   .catch((e) => {
      //     error({ statusCode: 404, message: e })
      //   })
    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({

			}),
		},
    async mounted() {

    },
    methods: {

    }
  }
</script>
