<template>
  <div>

    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->
    <Header />

    <Step4 />

    <Footer />

    <div class="cd-overlay-nav">
      <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
      <span></span>
    </div>
    <!-- /cd-overlay-content -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Header from '~/components/header';
  import Footer from '~/components/footer';
  import Step from '~/components/step';
  export default {
    components:{
      Header,
      Footer,
      Step
    },
    async fetch({ store }){
      await store.dispatch('questionnaire/GET_LIST_QUESTIONNAIRE')
    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({

			}),
		},
    async mounted() {

    },
    methods: {

    }

  }
</script>
