<template>
  <div>

    <header>
      <div class="container-fluid">
        <a href="index.html">
          <img src="@/static/assets/img/logo_white.svg" alt="" width="178" height="45" class="d-none d-md-inline">
          <img src="@/static/assets/img/logo_white_mobile.svg" alt="" width="62" height="45" class="d-inline d-md-none">
        </a>
        <h1>COVID-19 Questionnaire without Branch</h1>
        <div class="top_elements">
          <a id="menu-nav" @click="onMenu" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
          <!-- /menu button -->
          <nav>
            <ul id="listMenu" class="cd-primary-nav">
              <li><a href="index.html" class="animated_link">Questionnaire without branch</a></li>
              <li><a href="index-2.html" class="animated_link">Questionnaire with branch</a></li>
              <li><a href="prevention.html" class="animated_link">Prevention Tips</a></li>
              <li><a href="faq.html" class="animated_link">Faq</a></li>
              <li><a href="contacts.html" class="animated_link">Contact Us</a></li>
              <li><a href="#0" class="animated_link">Purchase Template</a></li>
            </ul>
          </nav>
          <!-- /menu -->
        </div>
        <!-- /top_elements -->
      </div>
      <!-- /container -->
    </header>

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    components:{

    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({

			}),
		},
    async mounted() {

    },
    methods: {
      onMenu(){
        var overlayNav = $('.cd-overlay-nav'),
            overlayContent = $('.cd-overlay-content'),
            navigation = $('.cd-primary-nav'),
            toggleNav = $('.cd-nav-trigger');

        if(!toggleNav.hasClass('close-nav')) {
          //it means navigation is not visible yet - open it and animate navigation layer
          toggleNav.addClass('close-nav');

          overlayNav.children('span').velocity({
            translateZ: 0,
            scaleX: 1,
            scaleY: 1,
          }, 500, 'easeInCubic', function(){
            navigation.addClass('fade-in');
          });
        } else {
          //navigation is open - close it and remove navigation layer
          toggleNav.removeClass('close-nav');

          overlayContent.children('span').velocity({
            translateZ: 0,
            scaleX: 1,
            scaleY: 1,
          }, 500, 'easeInCubic', function(){
            navigation.removeClass('fade-in');

            overlayNav.children('span').velocity({
              translateZ: 0,
              scaleX: 0,
              scaleY: 0,
            }, 0);

            overlayContent.addClass('is-hidden').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
              overlayContent.children('span').velocity({
                translateZ: 0,
                scaleX: 0,
                scaleY: 0,
              }, 0, function(){overlayContent.removeClass('is-hidden')});
            });
            if($('html').hasClass('no-csstransitions')) {
              overlayContent.children('span').velocity({
                translateZ: 0,
                scaleX: 0,
                scaleY: 0,
              }, 0, function(){overlayContent.removeClass('is-hidden')});
            }
          });
        }

      },
    }

  }
</script>
