<template>
  <div>
    <div class="container-fluid">
      <div id="form_container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div id="wizard_container">
              <div id="top-wizard">
                <div id="progressbar"></div>
              </div>
              <!-- /top-wizard -->
              <form id="wrapped" method="post">
                <input id="website" name="website" type="text" value="">
                <!-- Leave for security protection, read docs for details -->
                <div id="middle-wizard">
                  <client-only>
                    <div v-for="(list, index) in $store.state.questionnaire.questionnaireList[0].questionnaire" :key="list.questionnaire_id" class="step">
                      <h3 class="main_question"><i class="arrow_right"></i>{{list.questions}}</h3>
                      <div class="row">
                        <div class="col-lg-12">
                            <div v-for="(key, index2) in list.key_answer" :key="key.key_answer_id" class="form-group">
                              <div v-if="list.questionnaire_type === 'A'">
                                <label class="container_check version_2">{{key.value}}
  <!--                                  <input type="checkbox" v-model="answer[index][index2][`check`]" :name="`question${index}_${index2}`" value="China" class="required" @change="multiChoiceOnClick(index, index2, key.key_answer_id, list.key_answer)">-->
                                    <input type="checkbox" :name="`question_c_${index}_${index2}`" value="China" @change="multiChoiceOnClick(index, index2, key.key_answer_id, list.key_answer, $event)">
                                    <span class="checkmark"></span>
  <!--                                  <span class="badge bg-primary">{{answer}}</span>-->
<!--                                    <span v-if="uAnswer.length !== 0" class="badge bg-primary">{{uAnswer[index2].key}}</span>-->
                                    <span v-if="list.questionnaire_type === 'A'" class="badge bg-primary question-type-a">{{genAnswer[index].responden_answer[index2].key}}</span>
  <!--                                  <span class="badge bg-primary">{{answer}}</span>-->
                                </label>
                              </div>
                              <div v-else>
                                <label class="container_radio version_2">{{key.value}}
                                  <input v-model="genAnswer[index].key_answer_id" type="radio" :value="key.key_answer_id" :name="`question_r_${index}`" @change="radioOnClick(key.key_answer_id, index2)">
                                  <span class="checkmark"></span>
                                </label>
<!--                                <label class="container_radio version_2">No-->
<!--                                  <input type="radio" name="question_2" value="No" class="required">-->
<!--                                  <span class="checkmark"></span>-->
<!--                                </label>-->
                              </div>
                            </div>
                          <!--                        <div class="form-group">-->
                          <!--                          <label class="container_check version_2">South Korea-->
                          <!--                            <input type="checkbox" name="question_1[]" value="South Korea" class="required" @change="multiChoiceOnClick()">-->
                          <!--                            <span class="checkmark"></span>-->
                          <!--                          </label>-->
                          <!--                        </div>-->
                          <!--                        <div class="form-group">-->
                          <!--                          <label class="container_check version_2">Iran-->
                          <!--                            <input type="checkbox" name="question_1[]" value="Iran" class="required" @change="multiChoiceOnClick()">-->
                          <!--                            <span class="checkmark"></span>-->
                          <!--                          </label>-->
                          <!--                        </div>-->
                        </div>
<!--                          <div class="col-lg-6">-->
<!--                              <div class="form-group">-->
<!--                                  <label class="container_check version_2">China-->
<!--                                      <input type="checkbox" name="question_1[]" value="China" class="required">-->
<!--                                      <span class="checkmark"></span>-->
<!--                                  </label>-->
<!--                              </div>-->
<!--                              <div class="form-group">-->
<!--                                  <label class="container_check version_2">South Korea-->
<!--                                      <input type="checkbox" name="question_1[]" value="South Korea" class="required">-->
<!--                                      <span class="checkmark"></span>-->
<!--                                  </label>-->
<!--                              </div>-->
<!--                              <div class="form-group">-->
<!--                                  <label class="container_check version_2">Iran-->
<!--                                      <input type="checkbox" name="question_1[]" value="Iran" class="required">-->
<!--                                      <span class="checkmark"></span>-->
<!--                                  </label>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                          <div class="col-lg-6">-->
<!--                              <div class="form-group">-->
<!--                                  <label class="container_check version_2">Europe-->
<!--                                      <input type="checkbox" name="question_1[]" value="Europe" class="required">-->
<!--                                      <span class="checkmark"></span>-->
<!--                                  </label>-->
<!--                              </div>-->
<!--                              <div class="form-group">-->
<!--                                  <label class="container_check version_2">US States-->
<!--                                      <input type="checkbox" name="question_1[]" value="US States" class="required">-->
<!--                                      <span class="checkmark"></span>-->
<!--                                  </label>-->
<!--                              </div>-->
<!--                              <div class="form-group">-->
<!--                                  <label class="container_check version_2">None of the above-->
<!--                                      <input type="checkbox" name="question_1[]" value="Mobile Design" class="required">-->
<!--                                      <span class="checkmark"></span>-->
<!--                                  </label>-->
<!--                              </div>-->
<!--                          </div>-->
                      </div>
                      <!-- /row -->
                  </div>
                  </client-only>
<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Have you traveled to any one of the destinations below in the last 21 days?</h3>-->
<!--                    <div class="row">-->
<!--                      <div class="col-lg-12">-->
<!--                        <div v-for="(key, index) in key_answer" :key="index" class="form-group">-->
<!--                          <label class="container_check version_2">{{key.value}}-->
<!--                            <input type="checkbox" v-model="answer[index][`check`]" name="question_1[]" value="China" class="required" @change="multiChoiceOnClick(index, key.key_answer_id)">-->
<!--                            <span class="checkmark"></span>-->
<!--                            <span class="badge bg-primary text-right">{{answer[index][`key`]}}</span>-->
<!--                          </label>-->
<!--                        </div>-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                          <label class="container_check version_2">South Korea&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="checkbox" name="question_1[]" value="South Korea" class="required" @change="multiChoiceOnClick()">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="checkmark"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          </label>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;                          <label class="container_check version_2">Iran&ndash;&gt;-->
<!--&lt;!&ndash;                            <input type="checkbox" name="question_1[]" value="Iran" class="required" @change="multiChoiceOnClick()">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="checkmark"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          </label>&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                      </div>-->
<!--&lt;!&ndash;                      <div class="col-lg-2">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div v-for="(key, index) in key_answer" :key="index" class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <label for="email">Email Address</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          <input v-model="answer[index][`key`]" type="text" name="email" id="email1" class="form-control required text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <div class="form-group">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          &lt;!&ndash;                          <label for="email">Email Address</label>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <input type="text" name="email" id="email2" class="form-control required text-center">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <div class="form-group">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          &lt;!&ndash;                          <label for="email">Email Address</label>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <input type="text" name="email" id="email3" class="form-control required text-center">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <div class="form-group">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <label class="container_check version_2">US States&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <input type="checkbox" name="question_1[]" value="US States" class="required">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <span class="checkmark"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          </label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        <div class="form-group">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          <label class="container_check version_2">None of the above&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <input type="checkbox" name="question_1[]" value="Mobile Design" class="required">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            <span class="checkmark"></span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                          </label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /row &ndash;&gt;-->
<!--                  </div>-->
<!--                   /step-->

<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Have you recently been in contact with a person with Coronavirus?</h3>-->
<!--                    <div class="form-group">-->
<!--                      <label class="container_radio version_2">Yes-->
<!--                        <input type="radio" name="question_2" value="Yes" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                      <label class="container_radio version_2">No-->
<!--                        <input type="radio" name="question_2" value="No" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--&lt;!&ndash;                   /step&ndash;&gt;-->

<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Do you have fever higher than 100.3° F?</h3>-->
<!--                    <div class="form-group">-->
<!--                      <label class="container_radio version_2">Yes-->
<!--                        <input type="radio" name="question_5" value="Yes" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                      <label class="container_radio version_2">No-->
<!--                        <input type="radio" name="question_5" value="No" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--&lt;!&ndash;                   /step&ndash;&gt;-->

<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Do you have a runny nose?</h3>-->
<!--                    <div class="form-group">-->
<!--                      <label class="container_radio version_2">Yes-->
<!--                        <input type="radio" name="question_6" value="Yes" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                      <label class="container_radio version_2">No-->
<!--                        <input type="radio" name="question_6" value="No" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--&lt;!&ndash;                   /step&ndash;&gt;-->

<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Are you experiencing muscle aches, weakness, or lightheadedness?</h3>-->
<!--                    <div class="fohttps://gitlab.com/didirumapea/prs-safety-consulting-web.gitrm-group">-->
<!--                      <label class="container_radio version_2">Yes-->
<!--                        <input type="radio" name="question_7" value="Yes" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                      <label class="container_radio version_2">No-->
<!--                        <input type="radio" name="question_7" value="No" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--&lt;!&ndash;                   /step&ndash;&gt;-->

<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Are you having diarrhea, stomach pain, vomiting?</h3>-->
<!--                    <div class="form-group">-->
<!--                      <label class="container_radio version_2">Yes-->
<!--                        <input type="radio" name="question_8" value="Yes" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                      <label class="container_radio version_2">No-->
<!--                        <input type="radio" name="question_8" value="No" class="required">-->
<!--                        <span class="checkmark"></span>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--&lt;!&ndash;                   /step&ndash;&gt;-->

<!--                  <div class="step">-->
<!--                    <h3 class="main_question"><i class="arrow_right"></i>Please fill with your personal data</h3>-->
<!--                    <div class="form-group add_top_30">-->
<!--                      <label for="name">First and Last Name</label>-->
<!--                      <input type="text" name="name" id="name" class="form-control required" onchange="getVals(this, 'name_field');">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="email">Email Address</label>-->
<!--                      <input type="email" name="email" id="email" class="form-control required" onchange="getVals(this, 'email_field');">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="phone">Phone</label>-->
<!--                      <input type="text" name="phone" id="phone" class="form-control required">-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                      <div class="col-lg-3 col-md-3 col-sm-3 col-4">-->
<!--                        <label for="age">Age</label>-->
<!--                        <div class="form-group radio_input">-->
<!--                          <input type="text" name="age" id="age" class="form-control required">-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="col-lg-5 col-md-5 col-sm-6 col-8">-->
<!--                        <div class="form-group radio_input">-->
<!--                          <label class="container_radio mr-3">Male-->
<!--                            <input type="radio" name="gender" value="Male" class="required">-->
<!--                            <span class="checkmark"></span>-->
<!--                          </label>-->
<!--                          <label class="container_radio">Female-->
<!--                            <input type="radio" name="gender" value="Female" class="required">-->
<!--                            <span class="checkmark"></span>-->
<!--                          </label>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /row&ndash;&gt;-->
<!--                  </div>-->
<!--&lt;!&ndash;                   /step&ndash;&gt;-->

                  <div class="submit step" id="end">
                    <div class="summary text-center">
                      <div class="wrapper">
                        <h3>Thank your for your time<br><span id="name_field"></span>!</h3>
                        <p>We will contat you shorly at the following email address <strong id="email_field"></strong> and if necessary take measures.</p>
                      </div>
                      <div class="text-center">
                        <div class="form-group terms">
                          <label class="container_check">Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a> before Submit
                            <input type="checkbox" v-model="isChkTerms" name="terms" value="Yes" class="required">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /step last-->
                </div>
                <!-- /middle-wizard -->
                <div id="bottom-wizard">
                  <button @click="prev" type="button" name="backward" class="backward">Prev</button>
                  <button v-show="isNextDisabled" @click="next" type="button" name="forward" class="forward">Next</button>
                  <button v-show="isChkTerms" type="button" @click="submit" class="submit">Submit</button>
                </div>
                  <!-- /bottom-wizard -->
              </form>
            </div>
            <!-- /Wizard container -->
          </div>
        </div><!-- /Row -->
      </div><!-- /Form_container -->
    </div>
    <!-- /container -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    components:{

    },
    data: () => ({
      number_question: 0,
      stateAnswer: [],
      uAnswer: [],
      genAnswer: [],
      isNextDisabled: false,
      isChkTerms: false
    }),
    computed: {
			...mapGetters({
			}),
		},
    created() {
      this.$store.state.questionnaire.questionnaireList[0].questionnaire.forEach(element => {
        let dataObj = {
          questionnaire_type: element.questionnaire_type,
          questionnaire_id: element.questionnaire_id
        }
        let arr = []
        if (element.questionnaire_type === 'A'){
          // QUESTIONNAIRE A
          element.key_answer.forEach(element2 => {
            let dataObj2 = {}
            dataObj2.check = false
            dataObj2.key = ''
            dataObj2.key_answer_id = element2.key_answer_id
            dataObj2.questionnaire_type = element.questionnaire_type
            // dataObj2.questionnaire_id = 'this.$store.state.questionnaire.questionnaireList[0].questionnaire[this.number_question].questionnaire_id'
            arr.push(dataObj2)
          })
          dataObj.responden_answer = arr
          this.genAnswer.push(dataObj)
          // this.genAnswer.push(arr)
        }else{
          // QUESTIONNAIRE B
          dataObj.responden_answer = ''
          dataObj.key_answer_id = ''
          // dataObj.questionnaire_type = element.questionnaire_type
          // dataObj.questionnaire_id = element.questionnaire_id
          this.genAnswer.push(dataObj)
        }
      })
    },
    mounted(){

      // list.forEach(element => {
      //   let dataObj = {}
      //   dataObj[`key`] = ''
      //   dataObj[`check`] = false
      //   this.uAnswer.push(dataObj)
      // })
      // console.log(this.$store.state.questionnaire.questionnaireList[0])
    },
    methods: {
      async submit() {
        this.genAnswer.forEach((element, index) => {
          if (element.questionnaire_type === 'A') {
            this.genAnswer[index].responden_answer.sort((a, b) => (a.key > b.key) ? 1 : -1)
          }
        })
        // console.log(this.genAnswer)
        let data = {
          trx_questionnaire_id: this.$store.state.questionnaire.questionnaireList[0].id,
          questionnaire_id: this.$store.state.questionnaire.questionnaireList[0].questionnaire_id,
          responden_id: this.$route.query.u,
          module_answer: this.genAnswer
        }
        await this.$store.dispatch('questionnaire/SET_ASSESSMENT', data)
        this.$nuxt.$router.push('/questionnaire/success')
        // console.log(this.genAnswer[0].responden_answer.sort((a, b) => (a.key > b.key) ? 1 : -1))
        console.log(data)
      },
      radioOnClick(key_id, idx){
        this.genAnswer[this.number_question].key_answer_id = key_id
        this.genAnswer[this.number_question].responden_answer = key_id
        this.isNextDisabled = true
      },
      next(){
        this.number_question++
        this.isNextDisabled = false
        // if (this.genAnswer[this.number_question].questionnaire_type === 'B'){
        //   this.isNextDisabled = false
        //   console.log(this.genAnswer[this.number_question])
        // }

        // console.log(this.number_question)
        // console.log(this.genAnswer[this.number_question])
        // console.log(this.genAnswer)
      },
      prev(){
        this.number_question--
        this.isNextDisabled = true
        // console.log(this.genAnswer[this.number_question])
        // console.log(this.number_question)

      },
      multiChoiceOnClick(idx, idx2, key_id, list, event) {
        this.genAnswer[this.number_question].responden_answer[idx2].check = event.target.checked
        if (this.genAnswer[this.number_question].responden_answer.length !== 0){
          if (event.target.checked){
            this.genAnswer[this.number_question].responden_answer[idx2].key = this.genAnswer[this.number_question].responden_answer.filter(x => x.key !== '').length + 1
          }else{
            this.genAnswer[this.number_question].responden_answer[idx2].key = ''
          }
        }
        this.isNextDisabled = !this.genAnswer[this.number_question].responden_answer.some(e => e.key === '');
      }
    }
  }
</script>
<style scoped>
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  .question-type-a {
    color: white;
    font-size: 12px;
  }
</style>
