<template>
  <div id="layout2">
    <main>
      <nuxt />
    </main>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    components:{

    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
      ...mapGetters({

      }),
    },
    async mounted() {
      let checkurl = $nuxt.$route.name
      if (checkurl === 'index') {
        let el1 = document.getElementById("layout2");
        el1.classList.add("layout_2");
      }
    },
    methods: {

    }

  }
</script>

<style>

html {
  /*font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;*/
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
footer {
  position: relative;
  bottom: 0;
}
</style>
