<template>
  <div class="container">
    <Header />
    <h1 v-if="error.statusCode === 404">{{error.message}}</h1>
    <h1 v-else>{{error.message}}</h1>
    <a href="http://paibada.com">Home page</a>
  </div>
<!--  <div id="layout2">-->
<!--        <h1 v-if="error.statusCode === 404">Page not found</h1>-->
<!--        <h1 v-else>An error occurred</h1>-->
<!--        <NuxtLink to="/">Home page</NuxtLink>-->
<!--&lt;!&ndash;    <main>&ndash;&gt;-->
<!--&lt;!&ndash;      <nuxt />&ndash;&gt;-->
<!--&lt;!&ndash;    </main>&ndash;&gt;-->
<!--  </div>-->
</template>

<script>
  import { mapGetters } from 'vuex'
  export default {
    props: {
      error : {
        type: Object,
        default: () => {}
      },
      statusCode: {
        type: String,
        default: '400'
      }
    },
    components:{

    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
      ...mapGetters({

      }),
    },
    async mounted() {
      let checkurl = $nuxt.$route.name
      if (checkurl === 'index') {
        let el1 = document.getElementById("layout2");
        el1.classList.add("layout_2");
      }
    },
    methods: {

    }

  }
</script>

<style>

html {
  /*font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;*/
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, sans-serif !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
footer {
  position: relative;
  bottom: 0;
}
</style>
