<template>
  <div>

    <div id="preloader">
      <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <Header2 />

    <Step2 />

    <Footer />

    <div class="cd-overlay-nav">
      <span></span>
    </div>
    <!-- /cd-overlay-nfa -->
    <div class="cd-overlay-content">
      <span></span>
    </div>
    <!-- /cd-overlay-content -->

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import Header2 from '@/components/header2';
  import Footer from '@/components/footer';
  import Step2 from '@/components/step2';
  export default {
    components:{
      Header2,
      Footer,
      Step2
    },
    data() {
      return {
        action: '',
      }
    },
    computed: {
			...mapGetters({

			}),
		},
    async mounted() {

    },
    methods: {

    }

  }
</script>
